<div class="mb-3 pt-0">
    <input type="{{type?type:'text'}}" 
    value="{{value?value:""}}" 
    placeholder="{{placeholder}}" 
    name="{{name?name:'numCustomer'}}"
    class="px-2 py-1.5 bg-white placeholder-blueGray-400 {{color?color:'text-black'}} mr-3 relative  rounded text-sm border  shadow-black shadow-md outline-none focus:outline-none focus:ring {{width?width:'w-full'}}"/>
  </div>