<div>
    <header>
        {{{ await $slots.header() }}}
    </header>

    <main>
        {{{ await $slots.main() }}}
    </main>

    <footer>
        {{{ await $slots.actions() }}}
    </footer>
</div>
