<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
 
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="min-h-full">
    
    @!component('components/navBar',{notif:true})
  
    @!component('components/headerDash', {name:'Tableau de bord'})
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <!-- Replace with your content -->
        <div class="px-4 py-6 sm:px-0">
          <div class="border-4 border-dashed border-gray-200 rounded-lg">
            @!component('components/tabCustomer',{customers:arrayCustomer})
            @!component('components/pagination',{
                                                  customers:arrayCustomer,
                                                  page:page,
                                                  nbCustomer:nbCustomer
                                                  })
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
  <script src="https://kit.fontawesome.com/86a7905f8d.js" crossorigin="anonymous"></script>
</body>
</html>
